<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
          <h2>
              <strong>1.</strong> select blackboxes
            </h2>
        <devices-component [devices]="data?.device_groups"></devices-component>
      </div>
      <div class="col-md-3">
          <h2>
              <strong>2.</strong> select protocols
            </h2>
        <checkbox-radio-list [data]="data?.protocols" 
          inputType="checkBox"
          (onChange)="onChange($event)"
        >

        </checkbox-radio-list>
      </div>
      <div class="col-md-3">
          <h2>
              <strong>3.</strong> select time period
            </h2>
        <checkbox-radio-list [data]="data?.times" 
        inputType="radio"
        (onChange)="onChange($event)"
        >

        </checkbox-radio-list>
      </div>
      <div class="col-md-3">
          <h2>
              sammary
            </h2>
        <app-sammary></app-sammary>

      </div>
    </div>

  </div>
</div>