<div [ngSwitch]="inputType">
  <div *ngSwitchCase="'checkBox'">
    <ul class="list-unstyled">
      <li *ngFor="let item of data">
        <label>
          <input type="checkbox" 
          [(ngModel)]="SelectedValue"
          
           name="radiogroup-{{item.id}}" [value]="item.id"> {{item?.name}}

        </label>

      </li>
    </ul>

  </div>
{{SelectedValue}}
  <div *ngSwitchCase="'radio'">
      <ul class="list-unstyled">
      <li *ngFor="let item of data">
        <label>
          <input type="radio" 
          [(ngModel)]="SelectedValue"
          name="radiogroup" [value]="item.id"> {{item?.name}}
        </label>
      </li>
    </ul>



  </div>
</div>

<!-- (change)="onItemChange(item.id )" -->
